:root {
  --font-family: "Wotfard", Futura, -apple-system, sans-serif;
  --purple: hsl(230deg, 100%, 69%);
  --transition: all 1s linear;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: var(--font-family);
  color: var(--purple);
  background: url("https://www.audi.co.uk/content/dam/nemo/uk/Future-is-an-Attitude/brand-page-assets/stage/v5-xmax-D-Stage_Large_600.webp")
      no-repeat left top,
    linear-gradient(
      61deg,
      rgba(40, 47, 59, 1) 0%,
      rgba(119, 136, 166, 1) 43%,
      rgba(166, 179, 214, 1) 100%
    );
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

nav {
  height: 72px;
  background: white;
}
